<h2 class="text-2xl font-bold text-center mb-4 text-black dark:text-white ">
    تغییر رمز
</h2>

<form [formGroup]="form" class="flex flex-col gap-5 mt-3 border dark:border-white rounded-lg p-8 " dir="rtl"
    (ngSubmit)="submit()">
    <mat-form-field appearance="outline" class="w-full mb-2">
        <mat-label>نام کاربری</mat-label>
        <input matInput appNoPersian formControlName="username" appNoPersian dir="ltr" />
        <mat-error *ngIf="form.get('username')?.hasError('required')">
            نام کاربری الزامی است
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full relative"
        [ngClass]="form.get('password')?.hasError('strongPassword')?'mb-5':'mb-2'">
        <mat-label>رمز عبور</mat-label>
        <input appNoPersian matInput [type]="hidePassword ? 'password' : 'text'" appNoPersian formControlName="password"
            autocomplete="new-password" dir="ltr" class="!pl-[25px]" />
        <a (click)="hidePassword = !hidePassword" class="absolute left-[-10px] top-[10px] cursor-pointer">
            <lucide-icon name="eye" class="dark:text-white" *ngIf="hidePassword"></lucide-icon>
            <lucide-icon name="eye-off" class="dark:text-white" *ngIf="!hidePassword"></lucide-icon>
        </a>
        <mat-error *ngIf="form.get('password')?.hasError('required')">
            رمز الزامی است
        </mat-error>
        <mat-error *ngIf="form.get('password')?.hasError('strongPassword')">
            رمز عبور باید حداقل 8 کاراکتر، شامل حروف بزرگ، حروف کوچک، عدد و کاراکتر خاص باشد
        </mat-error>
        <a class="cursor-pointer absolute left-[-45px] top-[10px] text-green">
            <app-tooltip text="رمز عبور حداقل 8 کاراکتر و شامل حروف بزرگُ، حروف کوچک، اعداد و حروف خاص باشد"
                position="above">
                <lucide-icon name="info"></lucide-icon>
            </app-tooltip>
        </a>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full mb-2 relative">
        <mat-label>تکرار رمز عبور</mat-label>
        <input appNoPersian matInput [type]="hidePassword ? 'password' : 'text'" formControlName="confirmPassword"
            dir="ltr" />
        <mat-error *ngIf="form.get('confirmPassword')?.hasError('required')">
            تکرار رمز الزامی است
        </mat-error>
        <small class="text-[#ba1a1a] absolute w-full bottom-[-24px] block"
            *ngIf="form.get('confirmPassword')?.value && form.get('password')?.value && form.get('confirmPassword')?.value !== form.get('password')?.value">
            رمزها یکسان نیستند
        </small>
    </mat-form-field>

    <app-button classList="!w-full" [loading]="loading" action="submit" title="تغییر رمز"></app-button>
</form>