<div class="border border-[#484848] rounded-lg p-3 mt-3">
    <mat-tab-group class="trading-tabs bg-[#161516] text-gray-100" mat-align-tabs="start">
        <mat-tab label="Open Orders">
            <div class="h-[400px] flex flex-col items-center justify-center">
                <p class="text-[28px]">
                    <span class="text-[#497dca]">
                        Connect yor Wallet
                    </span> to trade
                </p>
            </div>
        </mat-tab>
        <mat-tab label="Order History"></mat-tab>
        <mat-tab label="Trade History"></mat-tab>
        <mat-tab label="Funds"></mat-tab>
        <mat-tab label="Bots"></mat-tab>
    </mat-tab-group>

</div>