<div class="bg-[#161516] px-4 py-2 border border-[#484848] rounded-lg">

    <mat-tab-group class="trading-tabs bg-[#161516] text-gray-100" mat-align-tabs="start">
        <mat-tab label="Spot">
            <!-- Sub Tabs: Limit / Market / Stop Limit -->
            <mat-tab-group class="bg-[#161516] text-gray-100 border-b border-gray-800 mt-3">
                <mat-tab label="Limit">
                    <div class="flex items-center gap-3 w-full">
                        <div class="p-4 space-y-4 w-6/12">

                            <!-- Price Input -->
                            <div
                                class="w-full border border-[#434C5A] bg-[#161516] rounded-lg p-4 flex items-center justify-between relative">
                                <!-- Label سمت چپ -->
                                <span class="text-gray-400 text-xs">Price</span>

                                <!-- قیمت و فلش‌ها سمت راست -->
                                <div class="flex items-center space-x-2">
                                    <!-- قیمت بیت کوین -->
                                    <span class="text-white text-s mr-5 m">123,123,213 USDT</span>

                                    <!-- فلش‌ها -->
                                    <div class="flex flex-col absolute right-0 h-full border-l border-[#434C5A]">
                                        <button class="p-1 h-full border-b border-[#434C5A]">
                                            <img src="assets/img/icon/downArrow.png" class="rotate-180" />
                                        </button>
                                        <button class="p-1 h-full">
                                            <img src="assets/img/icon/downArrow.png" />
                                        </button>
                                    </div>
                                </div>
                            </div>


                            <!-- Amount Input -->
                            <div
                                class="w-full border border-[#434C5A] bg-[#161516] rounded-lg p-4 flex items-center justify-between relative">
                                <!-- Label سمت چپ -->
                                <span class="text-gray-400 text-xs">Amount</span>

                                <!-- قیمت و فلش‌ها سمت راست -->
                                <div class="flex items-center space-x-2">
                                    <!-- قیمت بیت کوین -->
                                    <span class="text-white text-s mr-5 m">BTC</span>

                                    <!-- فلش‌ها -->
                                    <div class="flex flex-col absolute right-0 h-full border-l border-[#434C5A]">
                                        <button class="p-1 h-full border-b border-[#434C5A]">
                                            <img src="assets/img/icon/downArrow.png" class="rotate-180" />
                                        </button>
                                        <button class="p-1 h-full">
                                            <img src="assets/img/icon/downArrow.png" />
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <!-- Mini Chart with 5 diamonds -->
                            <div class="flex items-center justify-between py-2">
                                <div class="w-full h-[1px] bg-[#434C5A] relative rounded">
                                    <!-- Diamonds (hollow) -->
                                    <span
                                        class="absolute left-0 top-1/2 -translate-y-1/2 w-3 h-3 border-2 border-white rotate-45 bg-[#161516] rounded-sm"></span>
                                    <span
                                        class="absolute left-1/4 top-1/2 -translate-y-1/2 w-2 h-2 border-2 border-gray-400 rotate-45 bg-[#161516] rounded-sm"></span>
                                    <span
                                        class="absolute left-2/4 top-1/2 -translate-y-1/2 w-2 h-2 border-2 border-gray-400 rotate-45 bg-[#161516] rounded-sm"></span>
                                    <span
                                        class="absolute left-3/4 top-1/2 -translate-y-1/2 w-2 h-2 border-2 border-gray-400 rotate-45 bg-[#161516] rounded-sm"></span>
                                    <span
                                        class="absolute right-0 top-1/2 -translate-y-1/2 w-2 h-2 border-2 border-gray-400 rotate-45 bg-[#161516] rounded-sm"></span>
                                </div>
                            </div>


                            <!-- TP/SL Checkbox -->
                            <div class="flex items-center">
                                <mat-checkbox color="accent">
                                    <span class="text-white">
                                        TP/SL
                                    </span>
                                </mat-checkbox>
                            </div>

                            <!-- Info Rows -->
                            <div class="flex justify-between text-sm">
                                <span class="text-gray-400">Avbl</span>
                                <span class="text-white">-USDT</span>
                            </div>

                            <div class="flex justify-between text-sm">
                                <span class="text-gray-400">Max Buy</span>
                                <span class="text-white">--BTC</span>
                            </div>

                            <!-- Login Button -->
                            <button
                                class="w-full bg-[#2EBD85] text-white py-2 rounded-md hover:bg-green-600 transition">
                                Login
                            </button>

                        </div>
                        <div class="p-4 space-y-4 w-6/12">

                            <!-- Price Input -->
                            <div
                                class="w-full border border-[#434C5A] bg-[#161516] rounded-lg p-4 flex items-center justify-between relative">
                                <!-- Label سمت چپ -->
                                <span class="text-gray-400 text-xs">Price</span>

                                <!-- قیمت و فلش‌ها سمت راست -->
                                <div class="flex items-center space-x-2">
                                    <!-- قیمت بیت کوین -->
                                    <span class="text-white text-s mr-5 m">123,123,213 USDT</span>

                                    <!-- فلش‌ها -->
                                    <div class="flex flex-col absolute right-0 h-full border-l border-[#434C5A]">
                                        <button class="p-1 h-full border-b border-[#434C5A]">
                                            <img src="assets/img/icon/downArrow.png" class="rotate-180" />
                                        </button>
                                        <button class="p-1 h-full">
                                            <img src="assets/img/icon/downArrow.png" />
                                        </button>
                                    </div>
                                </div>
                            </div>


                            <!-- Amount Input -->
                            <div
                                class="w-full border border-[#434C5A] bg-[#161516] rounded-lg p-4 flex items-center justify-between relative">
                                <!-- Label سمت چپ -->
                                <span class="text-gray-400 text-xs">Amount</span>

                                <!-- قیمت و فلش‌ها سمت راست -->
                                <div class="flex items-center space-x-2">
                                    <!-- قیمت بیت کوین -->
                                    <span class="text-white text-s mr-5 m">BTC</span>

                                    <!-- فلش‌ها -->
                                    <div class="flex flex-col absolute right-0 h-full border-l border-[#434C5A]">
                                        <button class="p-1 h-full border-b border-[#434C5A]">
                                            <img src="assets/img/icon/downArrow.png" class="rotate-180" />
                                        </button>
                                        <button class="p-1 h-full">
                                            <img src="assets/img/icon/downArrow.png" />
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <!-- Mini Chart with 5 diamonds -->
                            <div class="flex items-center justify-between py-2">
                                <div class="w-full h-[1px] bg-[#434C5A] relative rounded">
                                    <!-- Diamonds (hollow) -->
                                    <span
                                        class="absolute left-0 top-1/2 -translate-y-1/2 w-3 h-3 border-2 border-white rotate-45 bg-[#161516] rounded-sm"></span>
                                    <span
                                        class="absolute left-1/4 top-1/2 -translate-y-1/2 w-2 h-2 border-2 border-gray-400 rotate-45 bg-[#161516] rounded-sm"></span>
                                    <span
                                        class="absolute left-2/4 top-1/2 -translate-y-1/2 w-2 h-2 border-2 border-gray-400 rotate-45 bg-[#161516] rounded-sm"></span>
                                    <span
                                        class="absolute left-3/4 top-1/2 -translate-y-1/2 w-2 h-2 border-2 border-gray-400 rotate-45 bg-[#161516] rounded-sm"></span>
                                    <span
                                        class="absolute right-0 top-1/2 -translate-y-1/2 w-2 h-2 border-2 border-gray-400 rotate-45 bg-[#161516] rounded-sm"></span>
                                </div>
                            </div>


                            <!-- TP/SL Checkbox -->
                            <div class="flex items-center">
                                <mat-checkbox color="accent">
                                    <span class="text-white">
                                        TP/SL
                                    </span>
                                </mat-checkbox>
                            </div>

                            <!-- Info Rows -->
                            <div class="flex justify-between text-sm">
                                <span class="text-gray-400">Avbl</span>
                                <span class="text-white">-USDT</span>
                            </div>

                            <div class="flex justify-between text-sm">
                                <span class="text-gray-400">Max Buy</span>
                                <span class="text-white">--BTC</span>
                            </div>

                            <!-- Login Button -->
                            <button class="w-full bg-[#F6465D] text-white py-2 rounded-md hover:bg-red-600 transition">
                                Login
                            </button>

                        </div>
                    </div>
                </mat-tab>

                <mat-tab label="Market">
                    <div class="p-4 text-gray-400">Market trading interface placeholder</div>
                </mat-tab>

                <mat-tab label="Stop Limit">
                    <ng-template mat-tab-label>
                        <span>Stop Limit</span>
                        <img src="assets/img/icon/info.png" class="relative left-[10px]" />
                    </ng-template>

                    <div class="p-4 text-gray-400">Stop Limit Content</div>
                </mat-tab>
            </mat-tab-group>
        </mat-tab>

        <mat-tab label="Cross">
            <div class="p-4">
                <p class="text-sm text-gray-400">
                    Cross margin mode allows shared margin across positions.
                </p>
            </div>
        </mat-tab>

        <mat-tab label="Isolated">
            <div class="p-4">
                <p class="text-sm text-gray-400">
                    Isolated margin mode keeps each position independent.
                </p>
            </div>
        </mat-tab>

        <mat-tab label="Grid">
            <div class="p-4">
                <p class="text-sm text-gray-400">
                    Grid trading strategy — automatic buy/sell orders at set intervals.
                </p>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>