<div class="w-full">
    <!-- عنوان -->
    <h2 class="text-2xl font-bold text-center mb-4 dark:text-white">
        فراموشی رمز عبور
    </h2>

    <p class="text-center font-bold mb-6 dark:text-white">
        برای ورود
        <a routerLink="/auth/login" class="text-green font-medium hover:underline cursor-pointer">اینجا کلیک کنید</a>
    </p>

    <div class="border rounded-lg mt-5">
        <mat-horizontal-stepper [linear]="true" dir="rtl">
            <ng-template matStepperIcon="edit">
                <lucide-icon name="square-pen" size="16"></lucide-icon>
            </ng-template>

            <ng-template matStepperIcon="done">
                <lucide-icon name="check-check" size="16"></lucide-icon>
            </ng-template>

            <ng-template matStepperIcon="number" let-index="index">
                {{ index + 1 }}
            </ng-template>

            <!-- مرحله ۲: شماره موبایل -->
            <mat-step [stepControl]="mobileForm" label="شماره همراه">
                <form [formGroup]="mobileForm" class="flex flex-col gap-5 mt-4" (ngSubmit)="submitMobileForm()">
                    <div class="flex items-center gap-2">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>شماره موبایل</mat-label>
                            <input matInput type="tel" formControlName="mobile" dir="ltr" numericOnly maxlength="11" />
                            <mat-error *ngIf="mobileForm.get('mobile')?.hasError('required')">
                                شماره موبایل الزامی است
                            </mat-error>
                            <mat-error *ngIf="mobileForm.get('mobile')?.hasError('pattern')">
                                شماره موبایل معتبر نیست
                            </mat-error>
                        </mat-form-field>
                        <app-icon-iran-flag></app-icon-iran-flag>
                    </div>

                    <div class="flex justify-end">
                        <app-button classList="w-full lg:w-auto" [matStepperNext]="true" action="submit" title="بعدی"
                            [disabled]="mobileForm.invalid"></app-button>
                    </div>
                </form>
            </mat-step>

            <!-- مرحله ۳: کد تأیید -->
            <mat-step [stepControl]="verifyForm" label="کد تأیید">
                <form [formGroup]="verifyForm" class="flex flex-col gap-5 mt-4">
                    <div class="flex flex-col items-center justify-center">
                        <ng-otp-input [config]="{length: 6, allowNumbersOnly: true, inputClass: 'otp-input-small'}"
                            dir="ltr" (onInputChange)="checkCode($event)">
                        </ng-otp-input>

                        <!-- تایمر / ارسال مجدد -->
                        <div class="mt-2 text-sm text-gray-600 dark:text-white">
                            <span *ngIf="!showResend">ارسال مجدد در {{ timer }} ثانیه</span>
                            <button *ngIf="showResend" type="button" class="text-[#34d399] hover:underline"
                                (click)="resendOtp()">
                                ارسال مجدد
                            </button>
                        </div>
                    </div>

                    <div class="flex justify-between mt-4">
                        <app-button action="default" title="قبلی" [matStepperPrevious]="true"></app-button>
                        <app-button classList="w-full lg:w-auto" [matStepperNext]="true" action="submit" title="بعدی"
                            [disabled]="verifyForm.invalid"></app-button>
                    </div>
                </form>

            </mat-step>

            <!-- مرحله ۴: تعیین رمز -->
            <mat-step [stepControl]="passwordForm" label="تعیین رمز">
                <form [formGroup]="passwordForm" class="flex flex-col gap-5 mt-4">
                    <div class="flex flex-col gap-5">
                        <mat-form-field appearance="outline" class="w-full relative"
                            [ngClass]="passwordForm.get('password')?.hasError('strongPassword')?'mb-5':'mb-2'">
                            <mat-label>رمز عبور</mat-label>
                            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password"
                                autocomplete="new-password" dir="ltr" class="!pl-[25px]" />
                            <a (click)="hidePassword = !hidePassword"
                                class="absolute left-[-10px] top-[13px] cursor-pointer">
                                <lucide-icon name="eye" class="dark:text-white" *ngIf="hidePassword"></lucide-icon>
                                <lucide-icon name="eye-off" class="dark:text-white" *ngIf="!hidePassword"></lucide-icon>
                            </a>
                            <mat-error *ngIf="passwordForm.get('password')?.hasError('required')">
                                رمز الزامی است
                            </mat-error>
                            <mat-error *ngIf="passwordForm.get('password')?.hasError('strongPassword')">
                                رمز عبور باید حداقل 8 کاراکتر، شامل حروف بزرگ، حروف کوچک، عدد و کاراکتر خاص باشد
                            </mat-error>
                            <a class="cursor-pointer absolute left-[-40px] top-[12px] text-green">
                                <app-tooltip
                                    text="رمز عبور حداقل 8 کاراکتر و شامل حروف بزرگُ، حروف کوچک، اعداد و حروف خاص باشد"
                                    position="above">
                                    <lucide-icon name="info"></lucide-icon>
                                </app-tooltip>
                            </a>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="w-full mb-2 relative">
                            <mat-label>تکرار رمز عبور</mat-label>
                            <input matInput [type]="hidePassword ? 'password' : 'text'"
                                formControlName="confirmPassword" dir="ltr" />
                            <mat-error *ngIf="passwordForm.get('confirmPassword')?.hasError('required')">
                                تکرار رمز الزامی است
                            </mat-error>
                            <small class="text-[#ba1a1a] absolute w-full bottom-[-24px] block"
                                *ngIf="passwordForm.get('confirmPassword')?.value && passwordForm.get('password')?.value && passwordForm.get('confirmPassword')?.value !== passwordForm.get('password')?.value">
                                رمزها یکسان نیستند
                            </small>
                        </mat-form-field>
                    </div>

                    <div class="flex justify-between">
                        <app-button action="default" title="قبلی" [matStepperPrevious]="true"></app-button>
                        <app-button (click)="submit()" classList="w-full lg:w-auto" [matStepperNext]="true"
                            action="submit" title="ثبت نهایی" [disabled]="passwordForm.invalid"></app-button>
                    </div>
                </form>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>