<app-form-container [title]="formTitle">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" dir="rtl" class="flex flex-col gap-9 p-5">

    <!-- کارمزد Maker -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>کارمزد Maker (%)</mat-label>
      <input matInput numericOnly formControlName="makerFee" />
      <mat-error *ngIf="form.get('makerFee')?.hasError('required')">کارمزد maker اجباری است</mat-error>
    </mat-form-field>

    <!-- کارمزد Taker -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>کارمزد Taker (%)</mat-label>
      <input matInput numericOnly formControlName="takerFee" />
      <mat-error *ngIf="form.get('takerFee')?.hasError('required')">کارمزد taker اجباری است</mat-error>
    </mat-form-field>

    <!-- ارز کارمزد -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>ارز کارمزد</mat-label>
      <mat-select matInput formControlName="feeCurrency">
        <mat-option value="BTC">BTC</mat-option>
        <mat-option value="USDT">USDT</mat-option>
        <mat-option value="ETH">ETH</mat-option>
        <mat-option value="EUR">EUR</mat-option>
        <mat-option value="USD">USD</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('feeCurrency')?.hasError('required')">ارز کارمزد اجباری است</mat-error>
    </mat-form-field>

    <!-- حداقل تراکنش -->
    <mat-form-field appearance="outline" class="w-full relative">
      <mat-label>حداقل تراکنش</mat-label>
      <input matInput numericOnly formControlName="minTrade" dir="ltr" class="!pl-[30px]" />
      <small class="text-gray-500 absolute left-[0px]">{{data?.toCurrency}}</small>
      <mat-error *ngIf="form.get('minTrade')?.hasError('required')">حداقل تراکنش اجباری است</mat-error>
    </mat-form-field>

    <app-form-footer [form]="form"></app-form-footer>

  </form>
</app-form-container>