<app-form-container [title]="formTitle">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" dir="rtl" class="flex flex-col gap-9 p-5">

    <!-- نام سطح -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>نام سطح</mat-label>
      <input matInput type="text" formControlName="slug" />
      <mat-error *ngIf="form.get('slug')?.hasError('required')">نام سطح اجباری است</mat-error>
    </mat-form-field>

    <!-- حداقل امتیاز -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>حداقل امتیاز</mat-label>
      <input matInput numericOnly formControlName="minPoint" />
      <mat-error *ngIf="form.get('minPoint')?.hasError('required')">حداقل امتیاز اجباری است</mat-error>
    </mat-form-field>

    <!-- حداکثر امتیاز -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>حداکثر امتیاز</mat-label>
      <input matInput numericOnly formControlName="maxPoint" />
      <mat-error *ngIf="form.get('maxPoint')?.hasError('required')">حداکثر امتیاز اجباری است</mat-error>
    </mat-form-field>

    <!-- سقف برداشت -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>سقف برداشت</mat-label>
      <input matInput numericOnly formControlName="withdrawLimit" />
      <mat-error *ngIf="form.get('withdrawLimit')?.hasError('required')">سقف برداشت اجباری است</mat-error>
    </mat-form-field>

    <!-- ضریب -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>ضریب</mat-label>
      <input matInput formControlName="rate" numericOnly dir="ltr" />
      <mat-error *ngIf="form.get('rate')?.hasError('required')">ضریب اجباری است</mat-error>
    </mat-form-field>

    <!-- توضیحات -->
    <mat-form-field appearance="outline" class="w-full custom-input">
      <mat-label>توضیحات</mat-label>
      <textarea rows="6" matInput formControlName="description"></textarea>
    </mat-form-field>

    <!-- سطح پیش‌فرض -->
    <mat-checkbox color="primary" formControlName="isDefault">
      سطح پیش فرض؟
    </mat-checkbox>
    
    <app-form-footer [form]="form"></app-form-footer>

  </form>
</app-form-container>